// colors
:root {
  --base-bg: #fff;
  --base-fg: #333;
  --base-border-color: #ccc;
  --box-bg: rgb(239, 239, 239);
  --box-border-color: var(--spectrum-alias-border-color, var(--spectrum-global-color-gray-400, rgb(118, 118, 118)));
  --box-border-color-disabled: rgb(200, 200, 200);
  --box-border-radius: var(--spectrum-alias-border-radius-regular, var(--spectrum-global-dimension-size-50, 2px));
  --box-border-width: var(--spectrum-alias-border-size-thin, var(--spectrum-global-dimension-static-size-10, 0.5px));
  --box-fg: var(--spectrum-alias-text-color, var(--spectrum-global-color-gray-800, var(--base-fg)));
  --box-fg-disabled: #999;
  --button-bg: #eee;
  --button-border-color: var(--box-border-color);
  --button-fg: var(--box-fg);
  --button-shadow-focus: 0 0 0.3rem #0003 inset;
  --disabled-fg: #999;
  --link-fg: var(--spectrum-global-color-blue-600, #00c);
  --link-hover-fg: var(--spectrum-global-color-red-600, #c00);
  --table-border-color: #ccc;
  --table-header-bg: #666;
  --table-header-fg: #fff;
  --theme-bg: #036;
  --theme-fg: #fff;
}

// sizes
:root {
  --base-padding: 0.2rem 0.5rem;
  --clickable-height: 1.5rem;
  --font-medium: 1rem;
  --font-small: 0.8rem;
  --radius: 0.1rem;
  font-size: 16px;

  @media (pointer:coarse) {
    --clickable-height: 2.5rem;
  }
}
